<form action="/game/result/" method="post">
  <select name="player1">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>

  <select name="player2">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <button type="submit" name="button">PlAY GaMe</button>
</form>
